body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
}
#u11562 {
  position:absolute;
  left:54px;
  top:117px;
  width:300px;
  height:31px;
}
#u11563 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u11564 {
  position:absolute;
  left:54px;
  top:89px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u11565 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
