body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:730px;
}
#u6799 {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:730px;
}
#u6800 {
  position:absolute;
  left:2px;
  top:357px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
}
#u6801 {
  position:absolute;
  left:54px;
  top:56px;
  width:300px;
  height:31px;
}
#u6802 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u6803 {
  position:absolute;
  left:54px;
  top:28px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6804 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6805 {
  position:absolute;
  left:395px;
  top:28px;
  width:519px;
  height:60px;
  color:#FF0000;
}
#u6806 {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  white-space:nowrap;
}
